        @using Microsoft.AspNetCore.Identity
        @using System.Security.Claims
        @using Microsoft.AspNetCore.Identity
        @using Microsoft.EntityFrameworkCore;
        @using Microsoft.AspNetCore.Mvc;
        @using BlipApp.Data;

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext db
@inject ApplicationDbContext context

@{
    ViewBag.Title = "Index";
    string userId = UserManager.GetUserId(User);

    db = context;
}
@{
    
}

@if (TempData["message"] != null)
{
    <div class="alert p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for users..." name="search"
                             value="@ViewBag.SearchString">
        <button class="btn btn-outline-success"  type="submit">Search</button>
    </div>
</form>



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            @using (Html.BeginForm("UploadImage", "Posts", FormMethod.Post, new { enctype = "multipart/form-data"}))
            {

                <div class="mb-3">
                    @Html.TextBox("Content", null, new { @class = "form-control border-0", style = "height: 100px;", placeholder = "What's blippin?" })
                    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

                    <div class="container">
                        <div class="row">
                            <div class="form-group col">
                                        <input type="file" class="custom-file-input" id="PostImage" name="PostImage" hidden/>
                                        <label class="custom-file-label" for="PostImage">
                                            <i class="bi bi-image" style="cursor: pointer; font-size: 1.63em;"></i>
                                        </label>
                                        <span id="file-chosen1">No file chosen</span>
                                </div>

                            <div class="form-group col">
                                        <input type="file" class="custom-file-input" id="PostVideo" name="PostVideo" hidden/>
                                        <label class="custom-file-label" for="PostVideo">
                                            <i class="bi bi-camera-video" style="cursor: pointer; font-size: 1.77em;"></i>
                                        </label>
                                <span id="file-chosen2">No file chosen</span>

                            </div>
                        </div>

                        </div>
                        <br />


                </div>


                <input class="btn btn-secondary rounded-pill" type="submit" value="Upload" />
            }


        </div>
    </div>
</div>

<br />
<br />

<div class="container mt-3">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
        @foreach (BlipApp.Models.Post post in ViewBag.Posts)
        {
            ApplicationUser user = db.ApplicationUsers.Find(post.UserId);

            @if ((db.UserFollowers?.FirstOrDefault(uf => uf.FollowerId == userId && uf.UserId == user.Id) != null || user.ProfileVisibility == false || post.UserId == userId))
            {
                <div class="mb-4">
                    <div class="card" onclick="window.location.href='/Posts/Show/@post.Id'" style="cursor:pointer">
                    @Html.Partial("PostInfo", post)

                    <div class="position-absolute bottom-0 end-0 mt-2">
                        <a class="btn btn-secondary border-0" href="/Posts/Edit/@post.Id">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </div>
                    
                </div>
            </div>
            }
            <br />
        }
        </div>

        <div class="col">
            <a class="btn btn-secondary border-0 mb-4" href="/Groups/New">Create a group</a>
            @foreach (var group in ViewBag.Groups)
            {
                <div class="card p-1" onclick="window.location.href='/Groups/Show/@group.Id'" style="cursor:pointer">@group.Title</div>
                <br />
            }
        </div>
    </div>
</div>